
# CONFIGURACIÓN PRINCIPAL DE DJANGO
# Llave secreta de tu aplicación Django. Debe ser una cadena larga y aleatoria en producción.
SECRET_KEY=TU_SECRET_KEY_AQUI

# Modo de depuración. ¡NUNCA pongas esto en True en un entorno de producción!
DEBUG=False

# Dominios permitidos para alojar tu sistema (separados por coma). Ejemplo: misistema.com,www.misistema.com
ALLOWED_HOSTS=tusistema.com,www.tusistema.com

# URL de conexión a tu base de datos PostgreSQL. Formato: postgres://usuario:password@host:puerto/nombre_base_datos
DATABASE_URL=postgres://usuario:password@host:puerto/nombre_base_datos


# CONFIGURACIÓN DE CORREO ELECTRÓNICO
# El correo desde donde se enviarán las notificaciones del sistema
EMAIL_HOST_USER=tu_correo@gmail.com

# La "Contraseña de Aplicación" generada desde la configuración de seguridad de tu cuenta de Google
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion_gmail

# El alias y el correo que aparecerán como remitente en la bandeja de los usuarios
DEFAULT_FROM_EMAIL=Tu Empresa <tu_correo@gmail.com>


# ENCRIPTACIÓN Y APIS EXTERNAS
# Llave utilizada por tu sistema para encriptar datos sensibles en la base de datos
ENCRYPTION_KEY=TU_LLAVE_DE_ENCRIPTACION_AQUI

# Token de la API principal (DeColecta) para consultas de DNI y RUC (RENIEC/SUNAT)
TOKENPERU_TOKEN=TU_TOKEN_DE_TOKENPERU

# Token de la API secundaria (APIsPERU) utilizada como respaldo si la principal falla
APISPERU_TOKEN=TU_TOKEN_DE_APISPERU


# ALMACENAMIENTO DE ARCHIVOS (CLOUDINARY)
# Nombre de tu cuenta / entorno en Cloudinary
CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME

# Llave pública de acceso a tu cuenta de Cloudinary
CLOUDINARY_API_KEY=TU_API_KEY

# Llave secreta privada de tu cuenta de Cloudinary. ¡No la compartas!
CLOUDINARY_API_SECRET=TU_API_SECRET
